<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">GifsApp</h3>
  <hr class="text-white">

  <button class="btn btn-danger" (click)="deleteAll()">
    Borrar todo
  </button>

  <ul class="list-group">
    <li *ngFor="let tag of tags"
        class="list-group-item d-flex justify-content-between align-items-center">

      <button class="list-group-item list-group-item-action"
              (click)="search(tag)">
        {{tag | titlecase}}
      </button>
      <button class="btn btn-danger"
      (click)="delete(tag)">
        X
      </button>
    </li>
  </ul>

</div>
